@import url('https:/fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}
h1{
    font-size: 3.66vw;
    line-height: 8.33vh;
    color:white;
}

h2{
    font-size: 2.396vw;
    line-height: 5.825vh;
    color: white;
}

h4{
    font-size: 1.46vw;
    color: white;
}

h3{
    color: white;
}

h6{
    font-weight: 51.24vw;
    font-size: 0.878vw;
    color: white;
}

p{
    font-size: 1.171vw;
    color: white;
    margin: 1.098vw 0  1.464vw 0;
}
button.normal{
    font-size: 1.025vw;
    font-weight: 43.92vw;
    padding: 1.098vw 2.196vw;
    color: #000;
    background-color: #fff;
    border-radius: 0.293vw;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}
button.white{
    font-size: 0.952vw;
    font-weight: 43.923vw;
    padding: 0.805vw 1.317vw;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 0.0732vw solid #fff;
    outline: none;
    transition: 0.2s;
}
#hero{
    background-image: url("img/hero.jpg");
    background-size: cover;
}
#header{
    display: flex;
    align-items: center;
    padding: 30px 30px;
    top: 0;
    left: 0;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-width: 0;
    border-bottom-style: solid;
    border-bottom-color: rgba(0,0,0,0);
}
#navbar li{
    list-style: none;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 20px;
}
#hero-section button{
    background-color: #088178;
    color:#fff;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
