@import url('https:/fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}
button.normal{
    font-size: 1vw;
    font-weight: 43.92vw;
    padding: 0.805vw 1.317vw;
    color: #000;
    background-color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}
button.normal:hover{
    color:white;
    background: black;
}
button.white{
    font-size: 1vw;
    font-weight: 43.923vw;
    padding: 0.805vw 1.317vw;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 0.0732vw solid #fff;
    outline: none;
    transition: 0.2s;
}
button.white:hover{
    color:black;
    background: white;
}
h1{
    font-size: 3.66vw;
    line-height: 8.33vh;
    color:white;
}

h2{
    font-size: 2.396vw;
    line-height: 5.825vh;
    color: black;
}
h3{
    color: white;
    font-size: 1.3vw;
    line-height: 4vh;
}
h4{
    font-size: 1.46vw;
    color: white;
}
h6{
    color: black;
}
h6.gray-text{
    color: gray;
}
p{
    font-size: 1.171vw;
    color: white;
    margin: 1.098vw 0  1.464vw 0;
}
#cover2{
    background-color: transparent;
    background-image: linear-gradient(180deg,#0084D6 -50%,#000000 100%);
    opacity: .49;
    transition: background .3s,border-radius .3s,opacity .3s;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 884px;
}
#cover{
    background: rgba(0, 0, 0, 0.07);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 104px;
}
#hero{
    background:  url("img/hero.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 884px;
}
#header{
    display: flex;
    align-items: center;
    padding: 10px 45px 0 45px;
    top: 0;
    left: 0;
    height: 104px;
}
#navbar{
    height: 103px;
    width: 1012px;
    display: flex;
    align-items: center;
    justify-content: left;
}
#navbar .firstlogo{
    height: 46px;
    width: 140px;
}
#navbar li{
    list-style: none;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    color: white;
    padding: 20px;
}
#navbar li a:hover,
#cart-bar li a:hover{
    color: black;
}
#cart-bar{
    width: 801px;
    display: flex;
    align-items: center;
    justify-content: right;
}
#cart-bar li{
    list-style: none;
    position: relative;
}
#cart-bar li a{
    text-decoration: none;
    color: white;
    padding: 20px;
}
#hero-section{
    position: absolute;
    padding: 200px 300px;
    justify-content: center;
}
#hero-section h1{
    padding-bottom: 20px;
    line-height: 1.2em;
    font-size: 4.125rem;
}
#hero-section h3{
    padding-bottom: 40px;
}
#hero-section button{
    margin-right: 15px;
}
#products-section{
    text-align: center;
    background: #f5f7f9;
    padding-top: 100px;
}
#products-section .featured{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#products-section h2{
    margin-bottom: 20px;
}
#products-section hr{
    width: 100px;
    border-top: 1px solid blue;
    margin: 0 auto;
}
#products-section .products-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 100px 250px;
}
#products-section .product-box{
    text-align: left;
    width: 250px;
    height: 405px;
}
#products-section .product-box img{
    height: 250px;
    width: 250px;
}
#products-section .product-box .desc{
    text-align: start;
    padding: 0.732vw 0;
}
#products-section .product-box h5{
    padding-top: 10px;
}
#products-section .product-box h6{
    padding-top: 10px;
}
#products-section .product-box .star i{
    padding-top: 10px;
}
