@use "../abstracts/variables" as var;
.header-main{
  background: rgba(0, 0, 0, 0.07);
  .navbar {
    height: 103px;
    width: 1012px;
    display: flex;
    align-items: center;
    justify-content: left;
    .first-logo {
      height: 46px;
      width: 140px;
    }
    li {
      list-style: none;
      position: relative;
      a {
        text-decoration: none;
        color: var.$color_3;
        padding: 20px;
        &:hover {
          color: var.$color_5;
        }
      }
    }
  }
  .cart-bar {
    li {
      a {
        &:hover {
          color: var.$color_5;
        }
        text-decoration: none;
        color: var.$color_3;
        padding: 20px;
      }
      list-style: none;
      position: relative;
    }
    width: 801px;
    display: flex;
    align-items: center;
    justify-content: right;
  }
}
