@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

$color_1: #ffffff;
$color_2: #000;
$color_3: white;
$color_4: #fff;
$color_5: black;
$color_6: gray;
$color_7: #0084D6;
$color_8: #333333;
$color_9: #0075be;
$color_10: #abb8c3;
$color_11: #424242;
$font-family_1: 'Spartan', sans-serif;
$font-family_2: 'Lato',sans-serif;
$background-color_1: #0075be;
$background-color_2: #0069be;
$background-color_3: #fff;
$background-color_4: transparent;
$background-color_5: white;
$background-color_6: #ffffff;
$background-color_7: #f5f7f9;
$border-color_1: #0069be;
$border-color_2: #e2e2e2;